@import url(./root.css);
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191919;
  width: 100%;
  padding: 1em 1em;
}
.header .header-name {
  display: flex;
  width: 40%;
}
.header .header-name h2 {
  text-transform: uppercase;
  border-radius: 10px;
  transition: 0.2s ease-in-out all inherit;
}
.header .header-name h2:hover {
  background-image: linear-gradient(to right, #00d5ff, 25%, #eee);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  cursor: default;
}
.header .navigation {
  width: 60%;
  display: flex;
  justify-content: flex-start;
}
.header .navigation ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}
.header .navigation ul li {
  border-left: 2px solid transparent;
  transition: 0.2s ease all;
  padding: 0 0.5em;
}
.header .navigation ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
.header .navigation ul li:hover {
  border-left: 2px solid rgba(238, 238, 238, 0.6666666667);
}
.header .logo {
  height: 2em;
  width: 20%;
  background-image: url(../img/logo-white.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  opacity: 0.8;
  position: fixed;
  right: 1em;
  mix-blend-mode: difference;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main-title {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 17em 0;
  padding: 20em 0;
  background-color: rgba(15, 15, 15, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 2em;
  border-radius: 10px;
}
.main .main-title h1, .main .main-title h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 700;
  text-align: right;
}
.main .main-title h1 {
  background-image: linear-gradient(to right, #00d5ff, 25%, #eee);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.main .main-title .and-symbol {
  color: #eee;
  position: absolute;
  transform: translateX(6em);
}
.main .welome-text {
  width: 90%;
  padding: 2em 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  background-color: rgba(15, 15, 15, 0.2); /* Semi-transparent background color */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Apply blur effect */
  border-radius: 15px;
}
.main .welome-text .my-image {
  width: 30%;
  height: 30em;
  background-color: darkslategrey;
  border-radius: 8px;
}
.main .welome-text .main-text {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main .welome-text .main-text .icon-slider {
  max-width: 100%;
  margin: 2em 0;
}
.main .welome-text .main-text .icon-slider .icon-slider-inner {
  padding-block: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}
.main .welome-text .main-text .icon-slider .icon-slider-inner .logo-icon {
  display: inline-block;
}
.main .welome-text .main-text .icon-slider .icon-slider-inner .logo-icon svg {
  width: 60px;
  height: 60px;
}
.main .welome-text .main-text .icon-slider[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
          mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.main .welome-text .main-text .icon-slider[data-animated=true] .icon-slider-inner {
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  animation: slide 20s linear infinite;
}
.main .welome-text .main-text h2 {
  margin-bottom: 1em;
  text-align: center;
}
.main .welome-text .main-text .main-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .welome-text .main-text .main-info h3 {
  margin: 2em 0 1em 0;
}
.main .welome-text .main-text .main-info .skills {
  display: flex;
}
.main .welome-text .main-text .main-info ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.main .welome-text .main-text .main-info ul h4 {
  display: inline;
  margin-right: 1em;
}
.main .welome-text .main-text .main-info ul .skills-programs li {
  word-spacing: 2em;
}
.main .welome-text .main-text .main-info .contact {
  display: flex;
  gap: 3.333em;
}
.main .go-projects {
  background-color: #111;
  margin-top: 5em;
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .go-projects .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14em;
}
.main .go-projects .button p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.main .go-projects .button a {
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10em;
  border: 2px dashed #445;
  transition: 0.2s ease all;
}
.main .go-projects .button a img {
  height: 100%;
  width: auto;
  opacity: 0.8;
  transition: 0.2s ease all;
}
.main .go-projects .button a:hover {
  animation: rotate-right 10s linear infinite;
}
.main .go-projects .button a:hover img {
  height: 160%;
  opacity: 1;
  animation: rotate-left 10s linear infinite;
}

.footer {
  margin-top: 13em;
  padding-bottom: 1em;
  width: 100%;
  background-color: rgba(17, 17, 17, 0.8117647059);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.footer .top {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0;
}
.footer .top .logo {
  background-image: url(../img/logo-white.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 8em;
  aspect-ratio: 1;
  opacity: 0.1;
}
.footer .top h2 {
  margin: 0;
  font-size: 11em;
  text-transform: uppercase;
  opacity: 0.1;
}
.footer .mid h4 a {
  text-decoration: none;
  font-size: 1.2em;
  color: #ccf;
}
.footer .bot {
  width: inherit;
  display: flex;
  justify-content: space-between;
  padding: 0 5em;
}

@keyframes slide {
  to {
    transform: translate(calc(-50% - 0.75em));
  }
}
@keyframes rotate-right {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-left {
  to {
    transform: rotate(-360deg);
  }
}/*# sourceMappingURL=style.css.map */